html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  animation-name: cores;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

@keyframes cores {
  0% { background: #800000; }
  25% { background: #FFFF00; }
  50% { background: #000080; }
  75% { background: #008000; }
  100% { background: #800000; }
}
